{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block container %}

{% if bills %}
    <script type="text/javascript">        
        function downloadTable(event,data){
            var xhr = new XMLHttpRequest();
            xhr.responseType = 'blob';
            
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var url = (window.URL || window.webkitURL).createObjectURL(xhr.response);
                    var aLink = document.createElement('a');
                    document.body.appendChild(aLink);
                    aLink.href = url;
                    aLink.download = filename;
                    aLink.click();
                }
            };
            xhr.open('POST', "{% url 'MaterialsAPP_historics_download' %}");
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(JSON.stringify(data));
        }

    </script>

    {% if customer %}
    <div class='row px-5'> 
        {% crispy customer.form %}
    </div>
    {% endif %}

    <div class='row px-5'> 
        
        <div class='col-3'> 
            <p class="h4">{{ number }}{% trans " bills found" %}</p>
        </div>
        {% if totals %}
        <div class='col-3'> 
            <p class="h4">{% trans "Total amount " %}{{ totals.total|floatformat:2 }}€</p>
            {% for key, value in payments.items %} 
            <ul>{{ value.description }} : {{ value.value }}€</ul>
            {% endfor %}
        </div>
        <div class='col-3'> 
            <p class="h4">{% trans "Total VAT amount " %}{{ totals.total_vat|floatformat:2 }}€</p>
        </div>
        <div class='col-2'> 
            <a type="button" class="btn btn-success col-12" id='printTable' >
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
				<span class="h5 text-white">{% trans " Download table" %}</span>
			</a>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        let printTable = document.querySelector("#printTable");
        printTable.addEventListener('click', (event) => downloadTable(event,{{ query_info|safe  }}));

    </script>
    <div class='row px-5'> 
    {% with rows=bills model='bill' %}
    {% include "ProductsAPP/_list.html" %}
    {% endwith %}
    </div>
{% else %}
    <div class='row px-5'> 
        <div class='col-3'> 
            <p class="alerts alerts-info h4">{% trans "No bills found" %}</p>
        </div>
    </div>
{% endif %}

{% endblock %}