{% load i18n %}
{% load static %}

<div class="card" style="max-width: 16rem;width: 16rem;">
    <div class="card-header bg-light" style="height: 4rem;">
        <p class="h6 text-center">{{ product.name }}</p>
    </div>

    <a href="{% url 'MaterialsAPP_append_to_bill' bill.code product.id %}" title = "{{ product.name }}">
    <img src={% if product.picture %}"{{ product.picture.url }}"{% endif %} class="img-fluid rounded" role="button" 
            alt="{{ product.name }}" style="height:12rem ;" 
            style="cursor: pointer;">
    </a>

    <div class="card-body bg-light">
        <h6 class="card-title">{% trans "Details" %}</h6>
        <p class="card-text">
            {{ product.details|linebreaks }}
        </p>
    </div>
    <div class="card-footer" style="background-color:rgb(179, 207, 204, 0.9) ;">
        <div class='row'>
            <div class='col-7'>
                <h6 class="card-title text-center">{% trans "Sell price" %}</h5>
            </div>
            <div class='col-5'>
                <h6 class="card-title">{{ product.pvp }}€</h5>
            </div>  
        </div>
        <div class='row'>
            <div class='col-7'>
                <h6 class="card-title text-center">{% trans "Stock" %}</h5>
            </div>
            <div class='col-5'>
                <h6 class="card-title">{{ product.stock }}</h5>
            </div>  
        </div>
        <div class='row' style="min-height:25px">
            <div class='col-3'>
                {% if product.discount %}
                <span class="badge rounded-pill bg-success">-{{ product.discount }}</span>
                {% endif %}
            </div>
            <div class='col-3'>
                {% if product.promotion %}
                <span class="badge rounded-pill bg-warning">{{ product.promotion }}</span>
                {% endif %}
            </div>
            <div class='col-3'>

            </div>
        </div>
    </div>
</div>