{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block navbar-center %}
{% if bill.owner %}
<h3 class="text-center">{% trans " Bill " %} {{ bill.code }}  {% trans " from user " %} {{ bill.owner }}
	{% if bill.owner.saves_paper %}
	<img src="{% static 'site/ico/GreenLeaf.svg' %}" /> 
	{% endif%}
</h3>
{% else %}
<h3 class="text-center">{% trans " Bill " %} {{ bill.code }}</h3>
{% endif %}

{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="row flex-nowrap">
		<div class="col py-3">
			{% if show_back_button %}
				<div class="col-1">
					{% include "_back.html" with back_to=back_to %}
				</div>
			{% endif %}
            <h3>{{ legend }}</h3>
			<div class="container">
				<div class="row">
					<div class="col-3">
					</div>
					<div class="col-9">
						<table class="table table-light" id="bill_table">
							<thead>
								<tr>
									<th scope="col">{% trans "Units" %}</th>
									<th scope="col">{% trans "Product" %}</th>
									<th scope="col">{% trans "Cost" %}</th>
									<th scope="col">{% trans "Subtotal" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for row in bill.bill_positions.all %}
								<tr> 
									<td>{{ row.quantity }}</td>
									<td>{{ row.product }}</td>
									{% if row.pvp %}
									<td>{{ row.pvp }} €</td>
									{% else %}
									<td>{{ row.product.pvp }} €</td>
									{% endif %}
									<td>{{ row.getsubtotal }} €</td>
								</tr>
								{% if row.reduce_subtotal %}
								<tr> 
									<td ></td>
									<td colspan=2>{{ row.reduce_concept }}</td>
									<td >-{{ row.reduce_subtotal }} €</td>
								</tr> 
								{% endif %}
								{% endfor %}
								<tr> 
									<td colspan=3><h5>{% trans "VAT" %}</h5></td>
									{% if bill.status == bill.STATUS_PAID %}
									<td scope="col"><h5>{{ bill.vat_amount }} €</h5></td>
									{% else %}
									<td scope="col"><h5>{{ bill.getVATAmount }} €</h5></td>
									{% endif %}
								</tr>
								<tr> 
									<td colspan=3><h4>{% trans "TOTAL" %}</h4></td>
									<td scope="col"><h4>{{ bill.getTotal }} €</h4></td>
								</tr>
							
							</tbody>    
						</table>
					</div>
				</div>
			 </div><!-- container -->
        </div>
        <div class="col-auto col-md-3 col-xl-3 px-sm-2 px-0 bg-dark">
			{% if bill.status != bill.STATUS_PAID %}
			<p class="h3 text-white bg-dark">{% trans "Details of the payment" %} </p>
			<style>
			.paymentForm {
				color: white;
			}
			</style>

			<form action={% url 'MaterialsAPP_close_bill' code=bill.code %} method="post" class="paymentForm" >
				{% crispy paymentForm %}
				{% comment %} <button type="submit" class="btn btn-success col-12"  name="MaterialsAPP_close_bill" >
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>
					<span class="h4 text-white">{% trans " Close the bill" %}</span>
				</button> {% endcomment %}
			</form>
			
			{% comment %} <a type="button" class="btn btn-primary col-12" href={% url 'MaterialsAPP_edit_bill' code=bill.code %} >
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
					<path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
					<path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
				  </svg>
				<span class="h4 text-white">{% trans " Edit the bill" %}</span>
			</a> {% endcomment %}
			{% else %}
			<p></p>
			<p class="h4 text-white bg-dark">{{ bill.get_status_display }} </p>
			<a type="button" class="btn btn-success col-12" href={% url 'home' %} >
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
					<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
				</svg>
				<span class="h4 text-white">{% trans " Exit" %}</span>
			</a>
			<a type="button" class="btn btn-success col-12" href={% url 'MaterialsAPP_print_bill' bill.code %} >
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
					<path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
					<path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
				</svg>
				<span class="h4 text-white">{% trans " Print" %}</span>
			</a>
			{% endif %}
		</div>
        
    </div>
</div>

{% endblock container %}


{% block websockets_monitor %}
{% endblock websockets_monitor %}

{% block scripts %}

{% endblock scripts %}
