{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block navbar-center %}
<div class="row">
	{% if bill.owner %}
	<div class="col-12">
		<h4 class="text-center">{% trans " Bill " %} {{ bill.code }}  {% trans " of customer " %} {{ bill.owner }}
		{% if bill.owner.saves_paper %}
		<a class="btn bg-transparent" data-toggle="tooltip" data-bs-placement="top" title="Customer prefers electronic receipts" >
		<img class="img-fluid" src="{% static 'site/ico/GreenLeaf.svg' %}" style="max-width:50px;" /> 
		</a>
		{% endif%}
		</h4>
	</div>
	{% else %}
	<div class="col-7">
		<h4 class="text-center">{% trans " Assign customer to bill "  %}{{ bill.code }}</h4>
	</div>
	<div class="col-3">
		<form action="{% url 'MaterialsAPP_assign_customer' code=bill.code %}" method="post">
				{% csrf_token %}
				{{ findCustomerForm.data }}
				<input type="submit" hidden />
		</form>
	</div>
	<div class="col-2">
	</div>
	{% endif %}
</div>
{% endblock %}

{% block container %}

<div class="row flex-nowrap px-5">
	<div class="col-9">
		<div class="d-flex">
			<div class="nav flex-column w-15 nav-pills me-3" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
				{% for tab in productfamilies_tabs %}
				<a class="nav-link {% if tab.active %} active {% endif %}" id="v-pills-products{{ tab.id }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-products{{ tab.id }}" type="button" role="tab" aria-controls="v-pills-products{{ tab.id }}" aria-selected="{% if tab.active %} true {% else %} false {% endif %} ">
					{{ tab.name }}
				</a>
				{% endfor %}
			</div>
			<div class="tab-content" id="v-pills-tabContent2">
				{% for tab in productfamilies_tabs %}
				<div class="tab-pane fade show {% if tab.active %} active {% endif %}" id="v-pills-products{{ tab.id }}" role="tabpanel" aria-labelledby="v-pills-products{{ tab.id }}-tab">
					<div class="card-group">
						{% for product in tab.items|slice:"0:6" %}	
						{% include "ProductsAPP/_product_card.html" %}			
						{% endfor %}
					</div>
					<div class="card-group">
						{% for product in tab.items|slice:"6:12" %}	
						{% include "ProductsAPP/_product_card.html" %}			
						{% endfor %}
					</div>
					<div class="card-group">
						{% for product in tab.items|slice:"12:18" %}	
						{% include "ProductsAPP/_product_card.html" %}			
						{% endfor %}
					</div>
					<div class="card-group">
						{% for product in tab.items|slice:"18:24" %}	
						{% include "ProductsAPP/_product_card.html" %}			
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-3 px-sm-2 px-0 bg-dark">
		<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
			<div class='col-12'>
				<form action="{% url 'MaterialsAPP_append_barcode_to_bill' code=bill.code %}" method="post">
						{% csrf_token %}
						{{ barcode2BillForm|crispy }}
						<input type="submit" hidden />
				</form>
			</div>
			<script>
				setInterval(function(){
					const activeElement = document.activeElement;
					if (activeElement != document.getElementById("id_customer_data")){document.getElementById("id_barcode").focus();}
				}, 500);				
			</script>
			<div class='col-12'>
				{% if bill.bill_positions.count > 0 %}
				<h5>{{ bill.bill_positions.count }} {% trans " position" %}{{ bill.bill_positions.count|pluralize }}</h5>
				{% endif %}
			</div>
			<table class="table table-dark" id="bill_table">
				<thead>
					<tr>
						<th scope="col">{% trans "Units" %}</th>
						<th scope="col">{% trans "Product" %}</th>
						<th scope="col">{% trans "Price" %}</th>
						<th scope="col">{% trans "Subtotal" %}</th>
						<th scope="col">{% trans "X" %}</th>
					</tr>
				</thead>
				<tbody>	
					{% for row in bill.bill_positions.all %}
					<tr> 
						<td>{{ row.quantity }}</td>
						<td>{{ row.product }} <br> {% if row.reduce_concept %}{{ row.reduce_concept }} {% endif %} </td>
						<td>{{ row.product.pvp }} €</td>
						<td>{{ row.getSubtotal }} €</td>
						<td>
							<a type="button" class="btn btn-primary col-12" href={% url 'MaterialsAPP_reduce_bill_position' id=row.id %}>
								-
							</a>
						</td>
					</tr>
					{% endfor %}
					<tr> 
						<td colspan=3><h5>{% trans "VAT" %}</h5></td>
						<td scope="col"><h5>{{ bill.getVATAmount }} €</h5></td>
					</tr>
					<tr> 
						<td colspan=3><h4>{% trans "TOTAL" %}</h4></td>
						<td scope="col"><h4>{{ bill.total }} €</h4></td>
					</tr>
					<tr>
						<a type="button" class="btn btn-success col-12" href={% url 'MaterialsAPP_resume_bill' code=bill.code %} >
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
								<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
								<path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
								</svg>
							<span class="h4 text-white">{% trans " Close bill" %}</span>
						</a>
					</tr>
				</tbody>    
			</table>
			
			{% if billPos %}
			<br>
			<br>
			<h5>{{ billPos.product.name }}</h5>
			<table class="table table-dark text-center" id="multiplier_table" style="width:100%">
				<tbody>	
					<tr style="height:75px"> 
						<td class='h3' colspan=3><span id="BillPosTotalQuantity"><span></td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(7);" style="cursor: pointer;">7</td>
						<td class='h3' onclick="appendDigit(8);" style="cursor: pointer;">8</td>
						<td class='h3' onclick="appendDigit(9);" style="cursor: pointer;">9</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(4);" style="cursor: pointer;">4</td>
						<td class='h3' onclick="appendDigit(5);" style="cursor: pointer;">5</td>
						<td class='h3' onclick="appendDigit(6);" style="cursor: pointer;">6</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(1);" style="cursor: pointer;">1</td>
						<td class='h3' onclick="appendDigit(2);" style="cursor: pointer;">2</td>
						<td class='h3' onclick="appendDigit(3);" style="cursor: pointer;">3</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(0);" style="cursor: pointer;">0</td>
						<td class='h3' colspan=2 onclick="correctLast();" style="cursor: pointer;"><<</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' colspan=3 onclick="setMultiplier();" style="cursor: pointer;">{% trans "Set Value" %}</td>
					</tr>
				</tbody>    
			</table>

			
			<script>
				$.ajaxSetup({ 
					beforeSend: function(xhr, settings) {
						function getCookie(name) {
							var cookieValue = null;
							if (document.cookie && document.cookie != '') {
								var cookies = document.cookie.split(';');
								for (var i = 0; i < cookies.length; i++) {
									var cookie = jQuery.trim(cookies[i]);
									// Does this cookie string begin with the name we want?
									if (cookie.substring(0, name.length + 1) == (name + '=')) {
										cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
										break;
									}
								}
							}
							return cookieValue;
						}
						xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					} 
				});

				let value = document.getElementById("BillPosTotalQuantity");

				function correctLast(){
					if (value.textContent.length > 1){value.textContent = value.textContent.substring(0, value.textContent.length - 1);}
					else {value.textContent = '';}
				}
				function appendDigit(digit){
					value.textContent+=digit;
				}
				function setMultiplier(){
					$.ajax({
								url: "{% url 'ProductsAPP_billPosition_setMultiplier' id=billPos.id %}",
								type: "POST",
								dataType: 'json',
								contentType: 'application/json',
								data: JSON.stringify({"value": parseInt(value.textContent) })
							}).done(function( data ) {
								if ( data ) {
									let url = data['url'];
									window.location.href=url;
								}
								//
							});
				}
			</script>
			{% endif %}

			<div class="col-12" id="messages_container">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="alert {{ message.tags }}" {% else %} class="alert alert-danger"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock container %}

{% block scripts %}

{% endblock scripts %}
