{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block navbar-center %}
{% if bill.owner %}
<h3 class="text-center">{% trans " Bill " %} {{ bill.code }}  {% trans " from user " %} {{ bill.owner }}
	{% if bill.owner.saves_paper %}
	<img class="img-fluid" src="{% static 'site/ico/GreenLeaf.svg' %}" /> 
	{% endif%}
</h3>
{% else %}
<h3 class="text-center">{% trans " Bill " %} {{ bill.code }}</h3>
{% endif %}

{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="row flex-nowrap">
		<div class="col py-3">
			{% if show_back_button %}
				<div class="col-1">
					{% include "_back.html" with back_to=back_to %}
				</div>
			{% endif %}
            <h3>{{ legend }}</h3>
			<div class="container">
				<div class="row">
					<div class="col-3">
					</div>
					<div class="col-9">
						<table class="table table-light" id="bill_table">
							<thead>
								<tr>
									<th scope="col">{% trans "Units" %}</th>
									<th scope="col">{% trans "Product" %}</th>
									<th scope="col">{% trans "Unit price" %}</th>
									<th scope="col">{% trans "Subtotal" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for row in bill.bill_positions.all %}
								<tr> 
									<td>{{ row.quantity }}</td>
									<td>{{ row.product }} <br> {% if row.reduce_concept %}{{ row.reduce_concept }} {% endif %}</td>
									<td>{{ row.getUnitPVP }} €</td>
									<td>{{ row.getSubtotal }} €</td>
								</tr>
								{% endfor %}
								<tr> 
									<td colspan=3><h5 class="text-end">{% trans "VAT" %}</h5></td>
									<td scope="col"><h5>{{ bill.getVATAmount }} €</h5></td>
								</tr>
								<tr> 
									<td colspan=3><h4 class="text-end">{% trans "TOTAL" %}</h4></td>
									<td scope="col"><h4><span id="BillTotalQuantity">{{ bill.total }}</span> €</h4></td>
								</tr>
							
							</tbody>    
						</table>
					</div>
				</div>
			 </div><!-- container -->
        </div>
        <div class="col-auto col-md-3 col-xl-3 px-sm-2 px-0 bg-dark">
			{% if bill.status != bill.STATUS_PAID %}
			<p class="h3 text-white bg-dark">{% trans "Details of the payment" %} </p>
			<style>
			.paymentForm {
				color: white;
			}
			</style>

			<form action={% url 'MaterialsAPP_close_bill' code=bill.code %} method="post" class="paymentForm" >
				{% crispy paymentForm %}
			</form>
			
			<table class="table table-dark" id="summary_table" style="width:100%">
				<tbody>	
					<tr style="height:75px"> 
						<td class='h5' colspan=1>{% trans "Given amount" %}</td>
						<td class='h5' colspan=2><span id="GivenQuantity"></span> €</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h5' colspan=1>{% trans "Refunded amount" %}</td>
						<td class='h5' colspan=2><span id="RefundQuantity"></span> €</td>
					</tr>
				</tbody>    
			</table>
			<table class="table table-dark text-center" id="paid_table" style="width:100%">
				<tbody>	
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(7);" style="cursor: pointer;">7</td>
						<td class='h3' onclick="appendDigit(8);" style="cursor: pointer;">8</td>
						<td class='h3' onclick="appendDigit(9);" style="cursor: pointer;">9</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(4);" style="cursor: pointer;">4</td>
						<td class='h3' onclick="appendDigit(5);" style="cursor: pointer;">5</td>
						<td class='h3' onclick="appendDigit(6);" style="cursor: pointer;">6</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(1);" style="cursor: pointer;">1</td>
						<td class='h3' onclick="appendDigit(2);" style="cursor: pointer;">2</td>
						<td class='h3' onclick="appendDigit(3);" style="cursor: pointer;">3</td>
					</tr>
					<tr style="height:75px"> 
						<td class='h3' onclick="appendDigit(0);" style="cursor: pointer;">0</td>
						<td class='h3' onclick="appendDigit('.');" style="cursor: pointer;">.</td>
						<td class='h3' onclick="correctLast();" style="cursor: pointer;"><<</td>
					</tr>
				</tbody>    
			</table>

			{% comment %} <a type="button" class="btn btn-primary col-12" href={% url 'MaterialsAPP_edit_bill' code=bill.code %} >
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
					<path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
					<path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
				  </svg>
				<span class="h4 text-white">{% trans " Edit the bill" %}</span>
			</a> {% endcomment %}
			{% else %}
			<p></p>
			<p class="h4 text-white bg-dark">{{ bill.get_status_display }} </p>
			<a type="button" class="btn btn-success col-12" href={% url 'home' %} >
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
					<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
				</svg>
				<span class="h4 text-white">{% trans " Exit" %}</span>
			</a>
			<a type="button" class="btn btn-success col-12" href={% url 'MaterialsAPP_print_bill' bill.code %} >
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
					<path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
					<path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
				</svg>
				<span class="h4 text-white">{% trans " Print" %}</span>
			</a>
			{% endif %}
		</div>
        
    </div>
</div>

<script>
	let totalAmount = parseFloat(document.getElementById("BillTotalQuantity").textContent.replace(",","."));
	let givenAmount = document.getElementById("GivenQuantity");
	function correctLast(){
		
		if (givenAmount.textContent.length > 1)
		{
			givenAmount.textContent = givenAmount.textContent.substring(0, givenAmount.textContent.length - 1);
		}
		else {givenAmount.textContent = '';}
		calculateRefund();
	}
	function appendDigit(digit){
		givenAmount.textContent+=digit;
		calculateRefund();
	}

	function calculateRefund(){
		let totalGiven = parseFloat(givenAmount.textContent.replace(",","."));
		let refund = 0;
		if (totalGiven >= totalAmount)
		{
			refund = (totalGiven-totalAmount).toFixed(2);
		}else{refund = 0;}
		document.getElementById("RefundQuantity").textContent = refund;
	}

</script>

{% endblock container %}


{% block websockets_monitor %}
{% endblock websockets_monitor %}

{% block scripts %}


{% endblock scripts %}
