{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block container %}

<div class="row px-5">
    <div class = "col-sm-1">
        {% trans "NEW BILL" as header %}
        {% with permission_OK=perms.ProductsAPP.add_billaccount link_to='MaterialsAPP_create_bill' icon='ProductsAPP/newBill.svg'	%}
        {% include "_app_card.html" %}
        {% endwith %}
    </div>
    <div class = "col-sm-1">
        {% trans "NEW CUSTOMER" as header %}
        {% with permission_OK=perms.UsersAPP.add_customer link_to='UsersAPP_create_customer' icon='UsersAPP/newCustomer.svg'	%}
        {% include "_app_card.html" %}
        {% endwith %}
    </div>
    <div class = "col-sm-1">
        {% trans "STOCK" as header %}
        {% with permission_OK=perms.ProductsAPP.edit_stock link_to='MaterialsAPP_check_stocks' icon='ProductsAPP/stock.svg'	%}
        {% include "_app_card.html" %}
        {% endwith %}
    </div>
    <div class = "col-sm-1">
        {% trans "PRICES" as header %}
        {% with permission_OK=perms.ProductsAPP.edit_prices link_to='MaterialsAPP_check_products' icon='ProductsAPP/products.svg'	%}
        {% include "_app_card.html" %}
        {% endwith %}
    </div>
    <div class = "col-sm-1">
        {% trans "REPORTS" as header %}
        {% with permission_OK=perms.ProductsAPP.view_reports link_to='MyTPV_reports_home' icon='site/ico/reports.svg'	%}
        {% include "_app_card.html" %}
        {% endwith %}
    </div>
</div>

<br>

{% if todays_bills %}
<div class='row px-5'> 
    <div class='col-3'> 
        <p class="h4">{% trans "Today's bills" %}</p>
    </div>
    <div class='col-6'> 

    </div>
    <div class='col-3'> 
        <p class="h4">{% trans "Today's income " %} {{ todays_income }} €</p>
    </div>
</div>

<div class='row px-5'> 
{% with rows=todays_bills model='bill' %}
{% include "ProductsAPP/_list.html" %}
{% endwith %}
</div>
{% endif %}

{% endblock %}