{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block navbar-center %}
<h3 class="text-center">{% trans "Products view"%}</h3>
{% endblock %}

{% block container %}
<div class="row">
    <div class = 'col-3'>

    </div>
    <div class = 'col-6'>
        <table class="table" id="stock_table">
            <thead>
                <tr>
                    <th scope="col">{% trans "Product" %}</th>
                    <th scope="col">{% trans "Sell price" %}</th>
                    <th scope="col">{% trans "Manual sell price" %}</th>
                    <th scope="col">{% trans "Active discount" %}</th>
                    <th scope="col">{% trans "Active Promotion" %}</th>
                </tr>
            </thead>
            <tbody>		
                <form method="post" >
                    {% csrf_token %}
                    {{ product_formset.management_form }}
                        
                        {% for form in product_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <tr>
                                <td class="col-2">{{ form.name }}</td>
                                <td class="col-1">{{ form.instance.pvp }}</td>
                                <td class="col-1">{{ form.manual_price }}</td>
                                <td class="col-2">{{ form.discount }}</td>
                                <td class="col-2">{{ form.promotion }}</td>
                            </tr>
                        {% endfor %}
                        
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3 d-grid gap-2"><button class="btn btn-primary" name="save_data" type="submit">{% trans "Save" %}</button></div>
                    </div>
                </form>
            </tbody>  
        </table>
    </div>
</div>

{% endblock %}

{% block websockets_monitor %}
{% endblock websockets_monitor %}

{% block scripts %}

{% endblock scripts %}
